*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.basketball {
    margin: 50% auto;
    & img {
        width: 150px;
    }
}
