<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Welcome to Home</h1>
    <p><a href="/view">Template</a></p>
    <p><a href="/api">API</a></p>
    <pre>
        <!-- running JS -- no print -->
        <% console.log("template running") %>
        <!-- commnet line -- no print -->
        <%# comment %>
        <!-- safe-print to html-->
        <%= '<b>text</b>'  %>
        <!-- direct-print to html-->
        <%- '<b>text</b>'  %>
        <!-- cancel template code-->
        <%% no template  %>
        <!-- direct-print to html and remove newline (\n)-->
        <%- '<b>text</b>'  -%>
    </pre>
  </body>
</html>
