* {
    padding: 0;
    margin: 0;

}


ul.nav {
    background-color: bisque;
    padding: 1rem;
    list-style-type: none;
    text-align: center;

    display: flex;
    justify-content: center;
    /* flex-direction: row;             ? default */
    align-items: center;
    gap: 1rem 4rem;
    flex-wrap: wrap;

}

ul.nav li {
    background-color: aquamarine;
    width: 5rem;
    padding: 0.7rem;
    border-radius: 1rem;
}

.container {
    background-color: cornflowerblue;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;

    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.container * {
    background-color: crimson;
}

.container header {
    /* flex-grow: 2; */
    flex-basis: 100%;
}

.container footer {
    flex-basis: 100%;
}

.container main {
    flex-grow: 3;
}
.container .left {
    flex-grow: 1;
}

.container .right {
    flex-grow: 2;
}