* {
    box-sizing: border-box
    margin: 0;
}

body {
    margin: 8px;
}
.container {
    width: 1000px;
    height: 200vh;
    padding: 20px;
    margin:  0 auto;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-template-rows: 1fr 2fr 4fr 1fr;
}

.content {
    background-color: #4169E1;
}
.c1 {
    grid-area: 1/1/2/-1;
}
.c5 {
    grid-area: 2/4/4/5;
}
.c6 {
    grid-area: 3/1/4/4;
    
}
.c7 {
    grid-area: 4/1/5/-1;
}
