{%- include('partials/header') -%}

    <!-- content start -->
    <div class="pb-5">
        <div class="mx-auto d-flex justify-content-center align-items-center pt-5">
            <div class="card"> <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu32ZkwB6QN3SChlL-dVKiZd4SwpJEg3zAS2JP4S-X1PbK5Wo_nVVD-jjJe4rE8Gbo_Zc&amp;usqp=CAU"
                    class="card-img-top" style="width:400px; height:300px;"> <!-- admin-area-start -->
                <div class="col-md-3 d-flex align-items-center rounded p-2">
                    <a href="/orders/654d58ee9acdcd3619b6c8db/update"> <button
                            class="btn btn-sm btn-warning me-1">Update</button></a>
                </div> <!-- admin-area-end -->
                <div class="card-body">
                    <h5 class="card-title">Super Pizza 239</h5>
                    <ul class="card-text">
                        <li>
                            Toppings:
                            <ul>
                                <li>Cheese</li>
                                <li>Pepperoni</li>
                                <li>Pineapple</li>
                                <li>Olive</li>
                                <li>Sousage</li>
                            </ul>
                        </li>
                        <li>
                            Size: <strong> Medium</strong>
                        </li>
                        <li>
                            Quantitiy: <strong> 7</strong>
                        </li>
                        <li>
                            Price: <strong> 65</strong>
                        </li>
                        <li>
                            Total: <strong> 455</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->

{%- include('partials/footer') -%}