
/* Google Landing Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 20px;
    line-height: 27px;
}

.header__left {
    float: left;
}
.header__right{
    float: right;
}