@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
.header {
  margin: 10rem 1rem 1rem;
  padding: 0.5rem;
  text-align: center;
  .heading {
    animation: text-flicker-in-glow 4s ease-out infinite both;
    color: rgb(23, 27, 32);
    font-size: 3rem;
    letter-spacing: 0.2em;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
    &:hover {
      color: #cd890c;
      cursor: pointer;
    }
    @keyframes animation {
        0%{
            opacity: .7;
            text-shadow: 2px 2px 5px #cd890c;
        }
        100%{
            opacity: 1;
            text-shadow: 2px 2px 5px #cd890c;
        }
        
    }
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  

  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
