* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/18/15/07/temporal-distance-1990035_1280.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    margin-bottom: 6rem;
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;   background-size: cover;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 0, 0, 0.781));
    border-radius: 50%;

   
}

#par {
    font-size: 3rem;
    color: rgba(226, 30, 8, 0.795);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    color: whitesmoke;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
@media (max-width:472px) {
    .container {
        width: 10vw;
        height: 10vh;
        background-color: none;
        background-image: none;
        display: flex;
   
        justify-content: center;
        align-items: center;
        border-radius: 0;

    }
    #par{
        font-size: 2rem;
        color: crimson;
        font-weight: bold;
    }


}

